.app {
  border: 1px solid $color-cream;
  padding: 0rem 0.25rem;
}

.main {
  backdrop-filter: blur(30px);

  margin-top: 0;
  width: 100vw;
  position: fixed;

  .header {
    //background-color: $color-yellow;
    text-align: center;
    padding: 3rem;

    margin: 1rem;
    &-name {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12rem;
      display: inline-block;
      background-image: linear-gradient(0deg, $color-text, $color-blue);
      background-clip: text; //-webkit-background-clip
      color: transparent;
      letter-spacing: 0.8rem;
    }
    &-amount {
      margin: 2rem 10rem;
      background-color: rgba($color: #ffff, $alpha: 0.5);
      backdrop-filter: blur(10px);
      border-radius: 10rem;
      box-shadow: $shadow-two;
      color: $color-blue;
      font-size: 12rem;
      font-weight: 100;
    }
  }
  .sub {
    &-lists {
      display: flex;
    }

    &-list {
      background-color: $color-blue;
      color: $color-white;
      text-align: center;
      margin: 1rem 1rem;
      padding: 2rem 6rem;
      border-radius: 1rem;
      box-shadow: $shadow-default;

      display: flex;
      flex-direction: column;
      &--name {
        text-transform: uppercase;
        font-weight: 500;
      }
      &--price {
        font-size: 3.2rem;
        font-weight: 100;
        margin: auto;
      }
    }
  }
}
/* <div className="main">
        <div className="header">
          <h3 className="header-name">bill</h3>
          <p className="header-amount">$0.00</p>
        </div>
        <div className="sub">
          <ul className="sub-lists">
            <li className="sub-list">
              <span className="sub-list--name">Rent</span>
              <span className="sub-list--price">Price</span>
            </li>
            <li className="sub-list">
              <span className="sub-list--name">travel</span>
              <span className="sub-list--price">Price</span>
            </li>
          </ul>
        </div>
      </div>
 */
