/* Varibles  */
$color-white: #fff4e6;
$color-cream: #f2ebbf;
/* theme 1  */
$color-yellow: #f2c849;
$color-green: #b4cf66;
/* theme -3 */
$color-red: #f2421b;
$color-blue: #0378a6;
/* background */
$color-black: #0d0d0d;
$color-text: #495057;

$font-size-small: 1.3rem;
$font-size-default: 1.6rem;
$font-size-large: 3.5rem;
